<header>
    <nav class="navbar navbar-full navbar-dark bg-inverse">
        <div class="container">
            <span class="navbar-brand" (click)="setActive('Archive')">Gondola</span>
            <ul class="nav navbar-nav">
                <li class="nav-item" [class.active]="activeNav === 'Test'">
                    <span (click)="setActive('Test')" class="nav-link"> [ The Places We Will Go ] </span>
                </li>
                <li class="nav-item" [class.active]="activeNav === 'Boop'">
                    <span (click)="setActive('Boop')" class="nav-link"> [ Boop ]</span>
                </li>
            </ul>
            <form class="form-inline pull-xs-right">
                <button class="btn btn-success">[ Inspector Gadget ]</button>
            </form>
        </div>
    </nav>
</header>